:root {
    --principal: #3c8dbc;
    --secundario: #1a7cc2;
    --correcto: #d2e7c9;
}

.login-page .login-box .card .card-header img {
    width: 100%;
}

.vs-pagination--ul {
    margin-bottom: 0px;
}

.modal.fade {
    transition: 2s all;
}

.modal.fade.show {
    padding-right: 17px;
    display: block;
    background-color: rgba(0, 0, 0, 0.479);
    overflow: auto;
}

.el-avatar>img {
    width: 100%;
}

.w-full {
    width: 100% !important;
}

.is-invalid select,
.is-invalid textarea,
.is-invalid input {
    border-color: #dc3545;
}

.el-upload.el-upload--text {
    max-width: 100%;
}

.el-upload-dragger {
    max-width: 100%;
}